@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@layer base {
    body {
        @apply bg-background text-foreground;
    }
    html {
        @apply font-sans;
    }
}

@theme {
    --color-background: oklch(98.5% 0 0);
    --color-foreground: oklch(21% 0.006 285.885);
    --color-surface: oklch(96.7% 0.001 286.375);
    --color-surface-hover: oklch(92% 0.004 286.32);
    --color-surface-foreground: oklch(14.1% 0.005 285.823);
    --color-primary: oklch(0.8986 0.2331 127.46);
    --color-primary-foreground: oklch(21% 0.006 285.885);
    --color-muted: oklch(55.2% 0.016 285.938);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-inverse: oklch(14.1% 0.005 285.823);
    --color-inverse-foreground: oklch(92% 0.004 286.32);
    --color-inverse-foreground-accent: oklch(98.5% 0 0);
    --color-inverse-foreground-neutral: oklch(70.5% 0.015 286.067);
    --color-inverse-foreground-muted: oklch(44.2% 0.017 285.786);
    --color-border: oklch(92% 0.004 286.32);
    --color-border-inverse: oklch(27.4% 0.006 286.033);
    --color-radius: 0.625rem;
}

.dark {
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);
    --color-surface: oklch(0.205 0 0);
    --color-surface-hover: oklch(27.4% 0.006 286.033);
    --color-surface-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.8986 0.2331 127.46);
    --color-primary-foreground: oklch(21% 0.006 285.885);
    --color-muted: oklch(70.5% 0.015 286.067);
    --color-muted-foreground: oklch(0.708 0 0);
    --color-border: oklch(1 0 0 / 10%);
    --color-inverse: oklch(0.985 0 0);
    --color-inverse-foreground: oklch(14.1% 0.005 285.823);
}